<fountain-header></fountain-header>


<div class="container">
  <div class="row">
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix hidden-sm-up"></div>
    <div class="col-12 col-sm-8">
      <section class="top-bitcoin-mining">
        <div class="details container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>Top Bitcoin Mining</h3>
              <table class="table text-centered table-bordered table-striped table-responsive">
                <tbody>
                <tr>
                  <th><h4>Program</h4></th>
                  <th><h4>Description</h4></th>
                  <th><h4>Status</h4></th>
                </tr>
                <tr>
                  <td><h5>Genesis-mining.com</h5>
                    <a href="https://www.genesis-mining.com/a/nub8se">Genes-mining.com Website</a>
                  </td>
                  <td>
                    <p>Genesis Mining was founded at the end of 2013. The founders of our world-class cryptocurrency
                      company got to know each other by using the same platform for buying and selling Bitcoins. As
                      our cryptocurrency mining company and its user base grew, new mining farms were built up and
                      several additional people hired, specifically programmers and engineers.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>

                <tr>
                  <td><h5>Hashflare.io</h5>
                    <a href="https://hashflare.io/r/B5086D90">Hashflare.io Website</a>
                  </td>
                  <td>
                    <p>HashFlare is a new range of cloudmining services brought to you by the HashCoins team of
                      cryptomining experts.

                      Our team has been involved with cryptocurrencies since the inception of Bitcoin and has over 3
                      years of experience in the field of mining cryptocurrencies.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>

        </div>
      </section>
    </div>
    <div class="col-12 col-sm-4">
      <fountain-weekly-payouts></fountain-weekly-payouts>
    </div>
  </div>
</div>
<fountain-footer></fountain-footer>
