<div class="main-container">
  <fountain-header></fountain-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <section class="top-bitcoin-mining">
        <div class="details container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>Top Bitcoin Mining</h3>
              <table class="table text-centered">
                <tbody>
                <tr>
                  <td><a href="#" target="_blank">HASHFLARE.IO</a></td>
                  <td>
                    <p>$4,223.64</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">AURUM-BANK.COM</a></td>
                  <td>
                    <p>$224</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">GENESIS-MINING.COM</a></td>
                  <td>
                    <p>$324</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">BITPETITE.COM</a></td>
                  <td>
                    <p>$3224</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">BITDIG.NET</a></td>
                  <td>
                    <p>$725.40</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">CHAIN.GROUP</a></td>
                  <td>
                    <p>$658.87</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">CRYPTOMINING.FARM</a></td>
                  <td>
                    <p>$185.50</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">INVESTELLECT.NET</a></td>
                  <td>
                    <p>$183.67</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">HOURPAY.NET</a></td>
                  <td>
                    <p>$183.67</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">FEXBIT.COM</a></td>
                  <td>
                    <p>$183.67</p>
                  </td>
                </tr>
                <tr>
                  <td><a href="#" target="_blank">SECURECAPITALS.COM</a></td>
                  <td>
                    <p>$1133.67</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        </section>
      </div>
      <div class="col-md-5">
        <fountain-weekly-payouts></fountain-weekly-payouts>
      </div>
    </div>
  </div>
  <fountain-footer></fountain-footer>
</div>
