<fountain-header></fountain-header>
<div class="container">
  <div class="row">
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix hidden-sm-up"></div>
    <div class="col-12 col-sm-8">
      <section class="top-paying-hyip">
        <div class="details container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>Top Paying HYIP</h3>
              <table class="table text-centered table-bordered table-striped table-responsive">
                <tbody>
                <tr>
                  <th><h4>Program</h4></th>
                  <th><h4>Description</h4></th>
                  <th><h4>Status</h4></th>
                </tr>
                <tr>
                  <td><h5>Bitpetite.com</h5>
                    <a target="_blank" href="https://bitpetite.com/?aff=heshamelmasry">Bitpetite.com Website</a>
                  </td>
                  <td>
                    <p>Bitpetite.com investment plans are 4.5% daily for 6 weeks and 3.6% daily for 9 weeks. The minimum
                      amount to invest is 0.005 BTC and referral commission is 10% on your first level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Solis.land</h5>
                    <a target="_blank" href="https://solis.land/795459317">Solis.land Website</a>
                  </td>
                  <td>
                    <p>Solis.land investment plans are 17% up to 24% profit per month. The minimum investment is $1
                      while the referral commission is 8% on your first level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Bitcosmos.biz</h5>
                    <a target="_blank" href="https://bitcosmos.biz/?ref=moneyme">Bitcosmos.biz Website</a>
                  </td>
                  <td>
                    <p>Bitcosmos.biz investment plans are 10% daily forever, 12% daily forever and 15% daily forever.
                      The minimum investment is 0.001 BTC and the referral commission is 5% on your first level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Aurum-bank.com</h5>
                    <a target="_blank" href="https://aurum-bank.com/?ref=heshamelmasry">Aurum-bank.com</a>
                  </td>
                  <td>
                    <p>Aurum-bank.com has an investment plan of 3% daily for 110 days, 3.5% daily for 85 days, 4% daily
                      for 60 days, 4.5% daily for 40 days, 5% daily for 30 days, 0.8% daily for 260 days, 1.1% daily for
                      110 days, 1.25% daily for 85 days, 1.75% daily for 60 days and 2.75% daily for 40 days.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Bitorbit.ltd</h5>
                    <a target="_blank" href="https://bitorbit.ltd/?ref=heshamelmasry">Bitorbit.ltd
                      Website</a>
                  </td>
                  <td>
                    <p>Bitorbit.ltd investment plans are 9% daily interest forever, 12% daily interest forever and 15%
                      daily interest forever. The minimum investment plan is 0.001 BTC and the referral commission is 6%
                      on your first level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Investellect.net</h5>
                    <a target="_blank" href="https://investellect.net/?ref=moneyme">Investellect.net Website</a>
                  </td>
                  <td>
                    <p>Investellect.net has an investment plan of 1.2% daily for 60 days, 1.4% daily for 120 days, 600%
                      after 60 days, 1700% after 120 days, 320% after 18 days and 960% after 38 days. The minimum
                      investment is 10 USD and the referral commission is 2%.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Chain.group</h5>
                    <a target="_blank" href="https://chain.group/15865">Chain.group
                      Website</a>
                  </td>
                  <td>
                    <p>Chain.group investment plans are 0.1-10% daily depends on a Trade Group offer. The minimum amount
                      to deposit is $5 while the referral commission is 5%.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Loanbit.net</h5>
                    <a target="_blank" href="https://loanbit.net/?ref=LB46293998">Loanbit.net Website</a>
                  </td>
                  <td>
                    <p>Loanbit.net investment plans are 2.0% daily for 7 days, 2.5% daily for 14 days, 3.0% daily for 21
                      days and 4.0% daily for 28 days. The minimum investment is 0.01 BTC and the referral commission is
                      4% on your first level.</p>
                  </td>
                  <td>
                    <h4>OBSERVING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Bitdig.net</h5>
                    <a target="_blank" href="https://www.bitdig.net/?ref=moneyme">Bitdig.net
                      Website</a>
                  </td>
                  <td>
                    <p>Bitdig.net has an investment plans of 6% daily for 30 days, 7% daily for 30 days and 9% daily for
                      30 days.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Fexbit.com</h5>
                    <a target="_blank" href="https://www.fexbit.com/?ref=moneyme">Fexbit.com Website</a>
                  </td>
                  <td>
                    <p>Fexbit.com investment plans are 101.5% – 110% after 1 day, 106% – 150% after 3 days, 116% – 300%
                      after 3 days. The minimum investment is $30 while the referral commission is 2% on your first
                      level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Earninghour.com</h5>
                    <a target="_blank" href="http://www.earninghour.com/?ref=heshamelmasry">Earninghour.com Website</a>
                  </td>
                  <td>
                    <p>Earninghour.com investment plans are 1.1%-1.45% hourly for 96 hours, 5%-8% hourly for 48 hours
                      and 18%-24% hourly for 24 hours. The minimum investment is $10 while the referral commission is 3%
                      up to 10%.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Fincryptglobal.com</h5>
                    <a target="_blank" href="https://fincryptglobal.com/?ID=moneyme&side=Left">Fincryptglobal.com
                      Website</a>
                  </td>
                  <td>
                    <p>Fincryptglobal.com investment plans are 180% up to 250% ROI in 24 months plus exiting rewards.
                      The minimum investment is $200 while the referral commission is 5% and there’s also team
                      management bonus which is 10%.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                <tr>
                  <td><h5>Carismo.biz</h5>
                    <a target="_blank" href="https://www.carismo.biz/affiliate/CM1613952">Carismo.biz Website</a>
                  </td>
                  <td>
                    <p>Carismo.biz guarantees a profit of 3.846% every day of the week (Saturdays and Sundays
                      inclusive). The minimum investment is 0.005 BTC and the referral commission is 5% on your first
                      level.</p>
                  </td>
                  <td>
                    <h4>PAYING</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 col-sm-4">
      <fountain-weekly-payouts></fountain-weekly-payouts>
    </div>
  </div>
</div>
<fountain-footer></fountain-footer>
