  <section class="weekly-payouts">
    <div class="details container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3><span>W</span>EEKLY <span>P</span>AYOUTS : OCT 01</h3>
          <table class="table table-striped text-centered">
            <tbody>
            <tr>
              <td><a href="https://hashflare.io/r/B5086D90" target="_blank">HASHFLARE.IO</a></td>
              <td>
                <p>$1,113.64</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://bitpetite.com/?aff=heshamelmasry" target="_blank">BITPETITE.COM</a></td>
              <td>
                <p>$1,100</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://aurum-bank.com/?ref=heshamelmasry" target="_blank">AURUM-BANK.COM</a></td>
              <td>
                <p>$524</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.genesis-mining.com/a/nub8se" target="_blank">GENESIS-MINING.COM</a></td>
              <td>
                <p>$424</p>
              </td>
            </tr>

            <tr>
              <td><a href="https://www.bitdig.net/?ref=moneyme" target="_blank">BITDIG.NET</a></td>
              <td>
                <p>$225.40</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://solis.land/795459317" target="_blank">Solis.land</a></td>
              <td>
                <p>$218.87</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.cryptomining.farm/signup/?referrer=59D22DC7BE2DA" target="_blank">CRYPTOMINING.FARM</a></td>
              <td>
                <p>$215.20</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://pool.bitcoin.com/index.html?code=QrnmOK" target="_blank">Pool.bitcoin.com</a></td>
              <td>
                <p>$203.67</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.carismo.biz/affiliate/CM1613952" target="_blank">Carismo.biz</a></td>
              <td>
                <p>$183.67</p>
              </td>
            </tr>
            <tr>
              <td><a href="https://www.fexbit.com/?ref=moneyme" target="_blank">FEXBIT.COM</a></td>
              <td>
                <p>$181.80</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
