@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto:300,400,500,700');

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: #404040;
}

body {
  background: #fb923c;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  background-color: #232322;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  justify-content: center;
  a.logo {
    color: #ffffff;
    font-size: 24px;
    white-space: nowrap;
    outline: none !important;
    line-height: 90px;
    img {
      width: 40px;
      margin-right: 3px;
    }
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

nav {
  flex: 1;
  a.nav-link {
    font-weight: bold;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}

.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}

.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #232322;
  transition: padding-left 0.5s ease;
  position: relative;
  bottom: 0;

  nav {
    height: 100%;
    width: auto;
    ul {
      padding-top: 30px;
      padding-left: 0;
    }
    li, ul {
      list-style: none;
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      color: #ffffff;
      margin: 0 5px 0 5px;
      font-weight: 200;
      font-size: 16px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .credits {
    p {
      font-size: 16px;
      font-weight: 200;
      color: #ffffff;
      margin-top: 23px;
      @media (max-width: 922px) {
        margin: 0;
        text-align: center;
      }
      span {
        color: #f44336;
        font-size: 26px;
        &:nth-last-child(1) {
          font-size: 16px;
          color: #ffffff;
        }
      }
    }
  }
  .copyrights {
    h2 {
      color: #ffffff;
      font-weight: 200;
      margin-top: 12px;
    }
  }
}

.techs-container {
  margin: 1rem;
}
